@import "./base/fonts";
@import "./base/reset";
@import "./utils/placeholder";
@import "./utils/variables";
@import "./utils/mixins";

:root {
  font-size: 16px;
  font-family: $aileron;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 2;
  @include spread-map($theme-map-dark);
}

:root.light {
  @include spread-map($theme-map-light);
}
:root.siod {
  @include spread-map($theme-map-siod);
}

/**
 * scrollbar
 */

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: var($--secondary-color);
  border: 0px none var($--secondary-color);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: var($--secondary-color);
}
::-webkit-scrollbar-thumb:active {
  background: var($--main-color);
}
::-webkit-scrollbar-track {
  background: var($--main-color);
  border: 0px none var($--secondary-color);
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: var($--main-color);
}
::-webkit-scrollbar-track:active {
  background: #525252;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/**
 * selection
 */

::-moz-selection {
  /* Code for Firefox */
  color: var($--main-color);
  background: var($--accent-color);
}

::selection {
  color: var($--main-color);
  background: var($--accent-color);
}

/**
 * reset
 */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  // cursor: none;
  /**
   * Transition for theme change
   */

  transition: background 1s ease-in-out, color 0.1s ease-in-out;
}

html {
  background: var($--main-color);
  // scroll-behavior: smooth;
  overflow-x: hidden;
}

/**
 * headers
 */

// h1,h2,h3 {
//   mix-blend-mode: difference;
// }

h1 {
  // font-size: 5.378rem;
  font-size: $--font-size-h1;
}

h2 {
  // font-size: 3.842rem;
  font-size: $--font-size-h2;
}

h3 {
  // font-size: 2.744rem;
  font-size: $--font-size-h3;
}

h4 {
  // font-size: 1.96rem;
  font-size: $--font-size-h4;
}

h5 {
  // font-size: 1.4rem;
  font-size: $--font-size-h5;
}

h6 {
  font-size: $--font-size-h6;
}

p {
  font-size: $--font-size-h6;
}

/**
 * another element which can contain text
 */

button {
  font-size: 1rem;
}

a {
  font-size: 1rem;
}

mark {
  padding: 0.3rem;
  background: var($--accent-color);
}

// @media screen and (max-width: 1536px) {
//   h1 {
//     font-size: 5.378rem;
//   }

//   h2 {
//     font-size: 3.842rem;
//   }

//   h3 {
//     font-size: 2.744rem;
//   }

//   h4 {
//     font-size: 1.96rem;
//   }

//   h5 {
//     font-size: 1.4rem;
//   }
// }

// @media screen and (max-width: 1280px) {
//   h1 {
//     font-size: 4.28rem;
//   }

//   h2 {
//     font-size: 3rem;
//   }

//   h3 {
//     font-size: 2.393rem;
//   }

//   h4 {
//     font-size: 1.789rem;
//   }

//   h5 {
//     font-size: 1.338rem;
//   }
// }

// @media screen and (max-width: 1024px) {
//   h1 {
//     font-size: 3.304rem;
//   }

//   h2 {
//     font-size: 2.6rem;
//   }

//   h3 {
//     font-size: 2.048rem;
//   }

//   h4 {
//     font-size: 1.613rem;
//   }

//   h5 {
//     font-size: 1.27rem;
//   }
// }

// @media screen and (max-width: 768px) {
//   h1 {
//     font-size: 5.573rem;
//   }

//   h2 {
//     font-size: 3.953rem;
//   }

//   h3 {
//     font-size: 2.803rem;
//   }

//   h4 {
//     font-size: 1.988rem;
//   }

//   h5 {
//     font-size: 1.41rem;
//   }
// }

// @media screen and (max-width: 640px) {
//   h1 {
//     font-size: 4.007rem;
//   }

//   h2 {
//     font-size: 3.036rem;
//   }

//   h3 {
//     font-size: 2.3rem;
//   }

//   h4 {
//     font-size: 1.742rem;
//   }

//   h5 {
//     font-size: 1.32rem;
//   }
// }

// @media screen and (max-width: 425px) {
//   h1 {
//     font-size: 2.406rem;
//   }

//   h2 {
//     font-size: 2.019rem;
//   }

//   h3 {
//     font-size: 1.694rem;
//   }

//   h4 {
//     font-size: 1.421rem;
//   }

//   h5 {
//     font-size: 1.192rem;
//   }
// }
